   @font-face {
       font-family: Evolenta;
       /* Гарнитура шрифта */
       src: url(Evolenta.ttf);
       /* Путь к файлу со шрифтом */
   }

   body {
       background-color: #f7f7f7;
   }

   header {
       background: rgb(224, 224, 224);
       background: linear-gradient(90deg, rgba(224, 224, 224, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(221, 221, 221, 1) 100%);
       display: flex;
       justify-content: space-between;

   }

   #header_image {
       margin-bottom: 3%;
       margin-top: 1%;
   }

   #header_image:hover {
       opacity: 0.7;
   }

   #header_menu {
       margin-left: 1%;
       margin-top: 1%;
       display: flex;
   }

   #header_contact {
       margin-left: 1%;
       margin-top: 1%;
       display: flex;
       justify-content: flex-end;
   }

   .header_a {
       margin: 5%;
       color: black;
       text-decoration: none;
       font-family: "DejaVu Sans Mono"monospace;
       font-size: 100%;
       letter-spacing: 2px;
       white-space: nowrap;
   }

   .header_a:hover {
       color: #4f4f4f;
       text-decoration: underline;
        }
   .header_c {
       width: 20%;
       justify-content: flex-end;
       

   }
.header_c img{
 width: 20%;

}

   #first {
       margin-top: 1%;
       height: 80vh;
       width: auto;
       background-image: url(img/background1v6.jpg);
       background-size: cover;
       /*background-size: auto 100% ;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgb(218,205,205);
background-color: linear-gradient(90deg, rgba(218,205,205,1) 0%, rgba(255,243,243,1) 50%, rgba(194,167,167,1) 100%);*/

       display: flex;
       flex-direction: column;
       /*justify-content: center;*/
       align-items: center;
       font-family: Evolenta;
       font-size: 200%;
       white-space: nowrap;
       color: black;
   }

#first h2{
    margin-top: 10%;
    background-color: white;
    padding: 1%;
    opacity: 0.9;
    border-radius: 10px;
    transition: 2s ease-in-out;
}
#first h3{
    background-color: white;
    padding: 1%;
    opacity: 0.9;
    border-radius: 10px;
    transition: 2s ease-in-out;
}
   .btn {
       position: relative;
       margin-top: 5%;
       text-decoration:none;
       /*left: 50%;
  top: 50%;
    transform: translateX(-50%) translateY(-50%);*/
       background: #000;
       color: #ccc;
       width: 400px;
       height: 100px;
       text-align: center;
       line-height:100px;
       border: 0;
       font-size: 26px;
       border-radius: 10px;
       font-family: Evolenta;
       transition: 0.6s;
       overflow: hidden;
       border: 2px solid red;
       opacity: 0.9;
   }

   .btn:focus {
       outline: 0;
   }

   .btn:before {
       content: "";
       display: block;
       position: absolute;
       background: rgba(255, 255, 255, 0.5);
       width: 60px;
       height: 100%;
       left: 0;
       top: 0;
       opacity: 0.5;
       filter: blur(30px);
       transform: translateX(-100px) skewX(-15deg);

   }

   .btn:after {
       content: "";
       display: block;
       position: absolute;
       background: rgba(255, 255, 255, 0.2);
       width: 30px;
       height: 100%;
       left: 30px;
       top: 0;
       opacity: 0;
       filter: blur(5px);
       transform: translateX(-100px) skewX(-15deg);
   }

   .btn:hover {
       background: #b02412;
       text-decoration: underline;
       cursor: pointer;
       opacity: 1;
   }

   .btn:hover:before {
       transform: translateX(400px) skewX(-15deg);
       opacity: 0.6;
       transition: 0.7s;
   }

   .btn:hover:after {
       transform: translateX(400px) skewX(-15deg);
       opacity: 1;
       transition: 0.7s;
   }
